/* ------------------------------
	AppDirect Channel style generator 
 -------------------------------- */
@darkest:#031D42;
@dark: #053C5B;
@mid: #1C6691;
@highlight: #83bdd3;
@lightest: #f3fbfe;
@topText:#ffffff;

/* Secondary Palette: Action Color */
@darkest2: #E55A04;
@dark2: #ff7b0d;
@mid2: #ffa84c;
@highlight2: #FFD6AD;
@topText2: #ffffff;

/* Third palette: neutral color */
@neutralDarkest:#acacac;
@neutralDark:#cccccc;
@neutralMid:#eeeeee;
@neutralTopText:#555555;

/* Text Colors */
h1, h2,
.billingDetailTable .detailHeader .headerHighlight,
.select-purchase .total-line .price,
.workEmployer,
.educationSchool,
.roleInfo h3,
.appInfo h3,
.userList-row.selected .userInfo *,
.reviews-row .summary,
.modal-content h2,
.manageapp-info .appName,
.icon.simpleArrowLeft:hover,
.icon.simpleArrowRight:hover,
a:hover,
.linkLook:hover {
color:@dark;
}
a, .linkLook,
#billsTable tr:hover td,
.slider-content li:hover .viewAll,
.slider-content li .viewAll.simpleArrow:hover,
.icon.simpleArrowLeft,
.icon.simpleArrowRight,
.gettingStartedList a,
.gettingStartedList li:hover,
.gettingStartedList li.completed-item:hover,
.dropdown li,
.hoverWrap,
.editProfile,
.teambox td,
.slider-content .viewAll,
.reviews-row .row-lastLine,
.resources-row.notAvailable,
.pricing-panel h1,
.compareButton label,
button.compare {
color:@mid;
}
a:hover,
.dropdown li:hover,
.slider-content .viewAll:hover {
color:@dark;
}

/* Gradient */
#tab_nav li.selected span,
#paginationRow .page-num em span,
#paginationRow .page-num:hover em span,
.header_nav,
.wicket-modal .modal .w_caption,
.usageBar.r .usageBar.r,
button {
background: @mid; /* old browsers */
background: -moz-linear-gradient(top, @mid 0%, @dark 100%); /* firefox */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@mid), color-stop(100%,@dark)); /* webkit */
filter: e("progid:DXImageTransform.Microsoft.gradient( startColorstr='@mid', endColorstr='@dark',GradientType=0 )"); /* ie */
background: -o-linear-gradient(top, @mid 0%,@dark 100%); /* opera */
color:@topText;
}
#topnav li.selected,
#topnav li.selected span {
background: @dark; 
color:@topText;
}
/* Borders related to Gradient */
#topnav {
border-left:1px solid @dark;
border-right:1px solid @mid;
}
#topnav li {
border-right:1px solid @dark;
border-left:1px solid @mid;
}
.header_nav {
border-bottom:1px solid @darkest;
}
#paginationRow .page-num em span {
border:1px solid @dark;
}
/* Secondary Gradient */
button.huge,
.soldOut .usageBar.r usageBar.r {
background: @mid2; /* Old browsers */
background: -moz-linear-gradient(top, @highlight2 0%, @mid2 3%, @dark2 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@highlight2), color-stop(3%,@mid2), color-stop(100%,@dark2)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, @highlight2 0%,@mid2 3%,@dark2 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, @highlight2 0%,@mid2 3%,@dark2 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, @highlight2 0%,@mid2 3%,@dark2 100%); /* IE10+ */
filter: e("progid:DXImageTransform.Microsoft.gradient( startColorstr='@mid2', endColorstr='@dark2',GradientType=0 )"); /* IE6-9 */
background: linear-gradient(top, @highlight2 0%,@mid2 3%,@dark2 100%); /* W3C */
}

/* Dark color */
#subnav-header {
background:@dark;
-moz-box-shadow: inset 0px 2px 5px 0px @darkest;
-webkit-box-shadow: inset 0px 2px 5px 0px @darkest;
box-shadow: inset 0px 2px 5px 0px @darkest;
border-bottom:@darkest;
}
#subnav-header li.active,
#subnav-header li:hover {
color:@topText;
}

/* Mid Color */
.htabs-content .checkboxBg {
background:@mid;
}
#usernav li:hover a,
#usernav li:hover .account,
#usernav li.selected a {
background-color:@dark;
color:@topText;
}
/* Highlight color */
#subnav-header li,
#usernav li a,
#usernav li .account {
color:@highlight;
}
.purchase-content .confirmOrder .bluebk,
#purchaseFaqs,
.blueBox-section {
border:1px solid @highlight;
}

/* Light background color */
.bluebk,
.accountMenu li a.active,
.accountMenu li a:hover,
.item-table tr th,
#billsTable tr:hover td,
.select-purchase tr.total-line.final td,
.select-purchase div.total-line.final,
.wicket-modal .modal .modal-footer,
#purchaseFaqs,
.select-purchase tr.selected td,
.blueBox-section,
.appSelected,
.userList-row.selected,
.role,
.assignRolesText,
.questionAnswered,
#answers .feedback-item.officiallyAnswered,
.htabs-wrap .htabs-content,
.cmsMenu-section .subList li a:hover,
.cmsMenu-section .subList li a.active,
.cmsMenu-section li .toggleParent:hover,
.cmsMenu-section li a:hover,
.cmsMenu-section li a.active,
#sidePanelList li,
.saveDone {
background-color:@lightest;
}

/* -------------------------------
 *  Buttons 
 *  ------------------------------ */
button {
color:@topText;
-moz-border-radius:5px;
border-radius:5px;
padding:6px 10px;
font-size:12px;
cursor: pointer;
overflow: visible;
border:1px solid @darkest;
}
button:hover {
background: @mid * 1.2; /* old browsers */
background: -moz-linear-gradient(top, @mid*1.2 0%, @dark*1.2 100%); /* firefox */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@mid*1.2), color-stop(100%,@dark*1.2)); /* webkit */
filter: e("progid:DXImageTransform.Microsoft.gradient( startColorstr='@mid*1.2', endColorstr='@dark*1.2',GradientType=0 )"); /* ie */
background: -o-linear-gradient(top, @mid*1.2 0%,@dark*1.2 100%); /* opera */
}
button:active {
background: @dark; /* old browsers */
background: -moz-linear-gradient(top, @dark 0%, @mid 100%); /* firefox */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@dark), color-stop(100%,@mid)); /* webkit */
filter: e("progid:DXImageTransform.Microsoft.gradient( startColorstr='@dark', endColorstr='@mid',GradientType=0 )"); /* ie */
background: -o-linear-gradient(top, @dark 0%,@mid 100%); /* opera */
color:@topText;
}
button::-moz-focus-inner {
border: none;  /* overrides extra padding in Firefox */
}
button.tiny {
padding:4px 6px;
-moz-border-radius:3px;
border-radius:3;
font-size:11px;
}
button.huge {
padding:15px 20px;
font-size:16px;
max-width:208px;
border:1px solid @darkest2;
color:@topText2;
}
button.huge:hover {
background: @highlight2 *1.1; /* Old browsers */
background: -moz-linear-gradient(top, @highlight2*1.1 0%, @mid2*1.1 3%, @dark2*1.1 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@highlight2*1.1), color-stop(3%,@mid2*1.1), color-stop(100%,@dark2*1.1)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, @highlight2*1.1 0%,@mid2*1.1 3%,@dark2*1.1 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, @highlight2*1.1 0%,@mid2*1.1 3%,@dark2*1.1 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, @highlight2*1.1 0%,@mid2*1.1 3%,@dark2*1.1 100%); /* IE10+ */
filter: e("progid:DXImageTransform.Microsoft.gradient( startColorstr='@highlight2*1.1', endColorstr='@dark2*1.1',GradientType=0 )"); /* IE6-9 */
background: linear-gradient(top, @highlight2*1.1 0%,@mid2*1.1 3%,@dark2*1.1 100%); /* W3C */
}
button.huge:active {
background: @dark2; /* Old browsers */
background: -moz-linear-gradient(top, @dark2 0%, @mid2 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@dark2), color-stop(100%,@mid2)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, @dark2 0%,@mid2 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, @dark2 0%,@mid2 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, @dark2 0%,@mid2 100%); /* IE10+ */
filter: e("progid:DXImageTransform.Microsoft.gradient( startColorstr='@dark2', endColorstr='@mid2',GradientType=0 )"); /* IE6-9 */
background: linear-gradient(top, @dark2 0%,@mid2 100%); /* W3C */
}
button.neutral,
button.preview {
background: @neutralMid; /* old browsers */
background: -moz-linear-gradient(top, @neutralMid 0%, @neutralDark 100%); /* firefox */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@neutralMid), color-stop(100%,@neutralDark)); /* webkit */
filter: e("progid:DXImageTransform.Microsoft.gradient( startColorstr='@neutralMid', endColorstr='@neutralDark',GradientType=0 )"); /* ie */
background: -o-linear-gradient(top, @neutralMid 0%,@neutralDark 100%); /* opera */
border:1px solid @neutralDarkest;
color:@neutralTopText;
}
button.neutral:hover,
button.preview:hover {
background: @neutralMid*1.1; /* old browsers */
background: -moz-linear-gradient(top, @neutralMid*1.1 0%, @neutralDark*1.1 100%); /* firefox */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@neutralMid*1.1), color-stop(100%,@neutralDark*1.1)); /* webkit */
filter: e("progid:DXImageTransform.Microsoft.gradient( startColorstr='@neutralMid*1.1', endColorstr='@neutralDark*1.1',GradientType=0 )"); /* ie */
background: -o-linear-gradient(top, @neutralMid*1.1 0%,@neutralDark*1.1 100%); /* opera */
}
button.neutral:active,
button.preview:active {
background: @neutralDark; /* old browsers */
background: -moz-linear-gradient(top, @neutralDark 0%, @neutralMid 100%); /* firefox */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@neutralDark), color-stop(100%,@neutralMid)); /* webkit */
filter: e("progid:DXImageTransform.Microsoft.gradient( startColorstr='@neutralDark', endColorstr='@neutralMid',GradientType=0 )"); /* ie */
background: -o-linear-gradient(top, @neutralDark 0%,@neutralMid 100%); /* opera */
}
button.delete {
background:#cf0404;
color:#fff;
border:none;
}
.saveDone {
padding-top:9px;
height:40px;
}
.buttons .skipText {
line-height:27px;
}

/* -------------------------------
	Usage Bar
---------------------------------- */
.usageWrapper {
border:1px solid #d2d2d2;
background-color:#efefef;
padding:1px 2px;
-moz-border-radius:8px;
border-radius:8px;
float:left;
}
.usageBar.r .usageBar.r {
height:12px;
-moz-border-radius:6px;
border-radius:6px;
width:0;
}

/* -------------------------------
	Grey Gradient
---------------------------------- */
.greybk #content {
background: #E7E7E7; /* old browsers */
background: -moz-linear-gradient(top, #E7E7E7 0%, #FFFFFF 25%, #FFFFFF 100%); /* firefox */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#E7E7E7), color-stop(25%,#FFFFFF), color-stop(100%,#FFFFFF)); /* webkit */
filter: e("progid:DXImageTransform.Microsoft.gradient( startColorstr='#E7E7E7', endColorstr='#FFFFFF',GradientType=0 )"); /* ie */
background: -o-linear-gradient(top, #E7E7E7 0%,#FFFFFF 25%,#FFFFFF 100%); /* opera */
}
#main {
-moz-box-shadow: inset 0px 2px 3px 0px #ccc;
-webkit-box-shadow: inset 0px 2px 3px 0px #ccc;
box-shadow: inset 0px 2px 3px 0px #ccc;
}
/* Search Box */
#search_box input {
-webkit-box-shadow: inset 0px 2px 2px #d8d8d8;
-moz-box-shadow: inset 0px 2px 2px #d8d8d8;
box-shadow: inset 0px 2px 2px #d8d8d8;
}
/* Profile Nav */
#tab_nav {
background: #F1F1F1; /* old browsers */
background: -moz-linear-gradient(top, #F1F1F1 0%, #D3D2D3 100%); /* firefox */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F1F1F1), color-stop(100%,#D3D2D3)); /* webkit */
filter: e("progid:DXImageTransform.Microsoft.gradient( startColorstr='#F1F1F1', endColorstr='#D3D2D3',GradientType=0 )"); /* ie */
background: -o-linear-gradient(top, #F1F1F1 0%,#D3D2D3 100%); /* opera */
}
.headerTop {
background: #F1F1F1; /* old browsers */
background: -moz-linear-gradient(top, #F1F1F1 0%, #D3D2D3 100%); /* firefox */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F1F1F1), color-stop(100%,#D3D2D3)); /* webkit */
filter: e("progid:DXImageTransform.Microsoft.gradient( startColorstr='#F1F1F1', endColorstr='#D3D2D3',GradientType=0 )"); /* ie */
background: -o-linear-gradient(top, #F1F1F1 0%,#D3D2D3 100%); /* opera */
}
.headerTop.bottom {
background: #d3d3d3; /* old browsers */
background: -moz-linear-gradient(top, #d3d3d3 0%, #e8e8e8 100%); /* firefox */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d3d3d3), color-stop(100%,#e8e8e8)); /* webkit */
filter: e("progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3d3d3', endColorstr='#e8e8e8',GradientType=0 )"); /* ie */
background: -o-linear-gradient(top, #d3d3d3 0%,#e8e8e8 100%); /* opera */
}
.account-table tr th {
background: #F1F1F1; /* old browsers */
background: -moz-linear-gradient(top, #F1F1F1 0%, #D3D2D3 100%); /* firefox */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F1F1F1), color-stop(100%,#D3D2D3)); /* webkit */
filter: e("progid:DXImageTransform.Microsoft.gradient( startColorstr='#F1F1F1', endColorstr='#D3D2D3',GradientType=0 )"); /* ie */
background: -o-linear-gradient(top, #F1F1F1 0%,#D3D2D3 100%); /* opera */
}
.team-header {
background: #F1F1F1; /* old browsers */
background: -moz-linear-gradient(top, #F1F1F1 0%, #D3D2D3 100%); /* firefox */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F1F1F1), color-stop(100%,#D3D2D3)); /* webkit */
filter: e("progid:DXImageTransform.Microsoft.gradient( startColorstr='#F1F1F1', endColorstr='#D3D2D3',GradientType=0 )"); /* ie */
background: -o-linear-gradient(top, #F1F1F1 0%,#D3D2D3 100%); /* opera */
}
.login-form .round-white-cont h2,
.signup-form .round-white-cont h2 {
background: #FFFFFF; /* Old browsers */
background: -moz-linear-gradient(top, #FFFFFF 0%, #EDEDED 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#EDEDED)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #FFFFFF 0%,#EDEDED 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #FFFFFF 0%,#EDEDED 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #FFFFFF 0%,#EDEDED 100%); /* IE10+ */
filter: e("progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#EDEDED',GradientType=0 )"); /* IE6-9 */
background: linear-gradient(top, #FFFFFF 0%,#EDEDED 100%); /* W3C */
}

/* --------------------------------
 *  Icons
 *  ------------------------------- */
.icon.arrowDown,
.icon.help,
.icon.emailForm,
.icon.simpleArrowRight,
.icon.simpleArrowLeft,
.icon.simpleArrowRight,
.icon.simpleArrowLeft,
.icon.screenshots,
.icon.playarrow,
.icon.star,
.icon.starSingle,
.icon.gridToggle,
.icon.listToggle,
.icon.gridToggleDown,
.icon.listToggleDown,
.icon.arrowLeft,
.icon.arrowRight {
background-image:none;
}
